
.title--position-about {
  margin-top:57px;
  margin-bottom: 53px;

  @media (min-width: 481px)  {
    margin-top: 86px;
    margin-bottom: 88px;
  }

  @media (min-width: 993px)  {
    margin-top: 108px;
    margin-bottom: 82px;
  }
}

.about {
  &__container {
    min-width: 270px;
    @include bg-img();
    background-image: url("../../dist/img/testmonials-bg1.png");
    padding: 0 6%;
    width: 100%;
    @include flex-column();
    align-items: center;
  }

  &__reviews {
    width: 264px;
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    row-gap: 41px;
    margin: 0 auto;
    max-width: 1200px;

    @media (min-width: 481px)  {
      width: 100%;
      column-gap: 90px;
    }

    @media (min-width: 730px)  {
      width: 100%;
      justify-content:space-between;
    }


  }

  &__review {
    width: 264px;
    height: 175px;
    @include flex-column();
    justify-content: space-between;
    align-items: center;
  }

  &__footer {
    @include text-prop(400,14px,21px, #A291A5);
    text-align: center;
    position: relative;
    margin-bottom: 22px;

    &--position {
      margin-top: 29px;

      @media (min-width: 481px)  {
        margin-top: 58px;
      }

      @media (min-width: 993px)  {
        margin-top: 115px;
      }
    }

    &::after {
      content: "";
      position: absolute;
      width: 102%;
      height: 2px;
      background-color: #645766;
      bottom: -22px;
      left: 0;
    }
  }
}

.review-icon {
  object-fit: cover;
  object-position: center;
}

.review-icon-1 {
  width: 165px;
  height: 43px;
}

.review-icon-2 {
  width: 148px;
  height: 50px;
}

.review-icon-3 {
  width: 64px;
  height: 64px;
}

.review-icon-4 {
  width: 225px;
  height: 24px;
}

.review-icon-5 {
  width: 166px;
  height: 34px;
}

.review-icon-6 {
  width: 108px;
  height: 34px;
}

.review-text {
  @include text-prop-lato(700, 16, 24px, $main-color);
  font-style: italic;
  text-align: center;
}